
@{
    ViewBag.Title = "features";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="features-section" id="corevalues">
    <div class="medium-large-wrapper">
        <ul class="four-column-listing">
            <li>
                <img class="feature-cta-icon" src="~/image/features-accuracy.svg" alt="Highest accuracy">
                <h3 class="h3">Highest Accuracy</h3>
                <p class="paragraph-text">Only real-time verification. <br>We never use historical data.</p>
            </li>
            <li>
                <img class="feature-cta-icon" src="~/image/features-price.svg" alt="Low Pricing">
                <h3 class="h3">Lowest Pricing</h3>
                <p class="paragraph-text">Under a penny per email. The more you verify, the lower the cost.</p>
            </li>
            <li>
                <img class="feature-cta-icon" src="~/image/features-fast.svg" alt="Fastest Turnaround">
                <h3 class="h3">Fastest Turnaround</h3>
                <p class="paragraph-text">Time is money. Clean 10k emails in as quick as 3 minutes.</p>
            </li>
            <li>
                <img class="feature-cta-icon" src="~/image/features-support.svg" alt="Awesome Support">
                <h3 class="h3">Awesome Support</h3>
                <p class="paragraph-text">Email, Phone, &amp; Live Chat available when you need us. <a href="/contact" class="text-link teal">Get in touch.</a></p>
            </li>
        </ul>
    </div>
    <div class="guarantee-wrapper">
        <h2 class="h2 largest white">Up to 99.9% Delivery Guaranteed</h2>
        <h4 class="h4">Bounce more than 3%, we’ll refund the difference. <a href="/help/getting-started/our-guarantee" class="text-link white">Learn more.</a></h4>
    </div>
</section>

